<div class="mt-4">
    <form method="POST" action="/film/{{filmID}}/added-episode" >
    <div class="mb-3">
        <label  class="form-label">Tập phim</label>
        <input type="text" class="form-control" name="episode" required>
    </div>
    <div class="mb-3">
        <label  class="form-label">URL</label>
        <input type="text" class="form-control" name="link" required>
    </div>
        <div class="mb-3">
        <label  class="form-label">Tiêu đề</label>
        <input type="text" class="form-control" name="title" required>
    </div>
    <button type="submit" class="btn btn-primary">Thêm tập mới</button>
</form>
</div>
<script>
</script>