@import "variables";
.header__avatar {
   width: 32px;
   height: 32px;
   border-radius: 50%;
}

// create-film
.create-film__image {
   width: 200px;
   height: 200px;
   object-fit: cover;

}
// list-film
// .list-films__table {
//    border: 1px solid #565656;
// }
.list-film__image-item {
   width: 80px;
   height: 80px;
   object-fit: contain;
   border: 1px solid #333;
}

//detail-film
.detail-film__image {
   width: 200px;
   object-fit: cover;
   
}
// home
.home__limit-text{
   height: 120px;
   line-height: 20px;
   overflow: hidden;
   text-overflow: ellipsis;
}